.detail-button {
  margin-top: 30px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  &-quantity {
    display: flex;
    gap: 10px;
    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & input[type="number"] {
      -moz-appearance: textfield;
    }

    & input {
      border-radius: 10px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      line-height: 1.6;
      font-size: 18px;
      border: 1px solid #ccc;
    }

    & button {
      font-weight: 900 !important;
      font-size: 20px !important;
    }

    & button:disabled {
      opacity: 0.3;
      cursor: default;
    }

    & button,
    & input {
      height: 45px !important;
      width: 100px !important;
    }
  }

  & button {
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 10px;
    width: 350px;
    height: 55px;
    line-height: 55px;
    font-weight: 700;
    font-family: inherit;
    background-color: #242f9b;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms linear;
  }
}
