<div class="special-offer">
  <h2>{{ mainTitle }}</h2>
  <swiper
    [slidesPerView]="3"
    [navigation]="navigation"
    [cssMode]="cssMode"
    [spaceBetween]="30"
  >
    <ng-template swiperSlide *ngFor="let book of books">
      <a routerLink="/products/{{ book.nameAscii }}" class="image">
        <img src="{{ book.image }}" alt="{{ book.name }}" />
      </a>
      <div class="content">
        <a routerLink="/products/{{ book.nameAscii }}" class="title">{{
          book.name
        }}</a>
        <div class="category">
          <span *ngFor="let category of book.category">{{
            category.name
          }}</span>
        </div>
        <div class="description">
          {{ book.description }}
        </div>
        <div class="author">{{ book.author.name }}</div>
        <div class="footer">
          <button (click)="addCart(book)">Thêm vào giỏ hàng</button>
          <div class="price" *ngIf="book.priceSale > 0">
            <div class="price-new">
              {{ book?.priceSale | currency: "đ":"symbol":"1.0-0":"vi-VN" }}
            </div>
            <div class="price-old">
              {{ book?.price | currency: "đ":"symbol":"1.0-0":"vi-VN" }}
            </div>
          </div>
          <div class="price" *ngIf="book.priceSale == 0">
            <div class="price-new">
              {{ book?.price | currency: "đ":"symbol":"1.0-0":"vi-VN" }}
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
