<div class="special-offer">
  <h2>{{ mainTitle }}</h2>
  <swiper
    [slidesPerView]="3"
    [navigation]="navigation"
    [cssMode]="cssMode"
    [spaceBetween]="30"
  >
    <ng-template swiperSlide>
      <a routerLink="/products/sach-slug" class="image">
        <img src="https://picsum.photos/500/300?random=1" alt="" />
      </a>
      <div class="content">
        <a routerLink="/products/sach-slug" class="title">Title name 1</a>
        <div class="category">
          <span>Category 1</span>
          <span>Category 2</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsa,
          quaerat impedit aspernatur, eius ex fugit aliquam voluptatum corporis
          reiciendis qui libero? Enim cupiditate ratione tempore, labore
          molestias minus asperiores.
        </div>
        <div class="author">Chuong Kieu</div>
        <div class="footer">
          <button>Add to cart</button>
          <div class="price">
            <div class="price-new">$80</div>
            <div class="price-old">$90</div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <a routerLink="/products/sach-slug" class="image">
        <img src="https://picsum.photos/500/300?random=2" alt="" />
      </a>
      <div class="content">
        <a routerLink="/products/sach-slug" class="title">Title name 1</a>
        <div class="category">
          <span>Category 1</span>
          <span>Category 2</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsa,
          quaerat impedit aspernatur, eius ex fugit aliquam voluptatum corporis
          reiciendis qui libero? Enim cupiditate ratione tempore, labore
          molestias minus asperiores.
        </div>
        <div class="author">Chuong Kieu</div>
        <div class="footer">
          <button>Add to cart</button>
          <div class="price">
            <div class="price-new">$80</div>
            <div class="price-old">$90</div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <a routerLink="/products/sach-slug" class="image">
        <img src="https://picsum.photos/500/300?random=3" alt="" />
      </a>
      <div class="content">
        <a routerLink="/products/sach-slug" class="title">Title name 1</a>
        <div class="category">
          <span>Category 1</span>
          <span>Category 2</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsa,
          quaerat impedit aspernatur, eius ex fugit aliquam voluptatum corporis
          reiciendis qui libero? Enim cupiditate ratione tempore, labore
          molestias minus asperiores.
        </div>
        <div class="author">Chuong Kieu</div>
        <div class="footer">
          <button>Add to cart</button>
          <div class="price">
            <div class="price-new">$80</div>
            <div class="price-old">$90</div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <a routerLink="/products/sach-slug" class="image">
        <img src="https://picsum.photos/500/300?random=4" alt="" />
      </a>
      <div class="content">
        <a routerLink="/products/sach-slug" class="title">Title name 1</a>
        <div class="category">
          <span>Category 1</span>
          <span>Category 2</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsa,
          quaerat impedit aspernatur, eius ex fugit aliquam voluptatum corporis
          reiciendis qui libero? Enim cupiditate ratione tempore, labore
          molestias minus asperiores.
        </div>
        <div class="author">Chuong Kieu</div>
        <div class="footer">
          <button>Add to cart</button>
          <div class="price">
            <div class="price-new">$80</div>
            <div class="price-old">$90</div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <a routerLink="/products/sach-slug" class="image">
        <img src="https://picsum.photos/200/300?random=5" alt="" />
      </a>
      <div class="content">
        <a routerLink="/products/sach-slug" class="title">Title name 1</a>
        <div class="category">
          <span>Category 1</span>
          <span>Category 2</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsa,
          quaerat impedit aspernatur, eius ex fugit aliquam voluptatum corporis
          reiciendis qui libero? Enim cupiditate ratione tempore, labore
          molestias minus asperiores.
        </div>
        <div class="author">Chuong Kieu</div>
        <div class="footer">
          <button>Add to cart</button>
          <div class="price">
            <div class="price-new">$80</div>
            <div class="price-old">$90</div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <a routerLink="/products/sach-slug" class="image">
        <img src="https://picsum.photos/200/300?random=6" alt="" />
      </a>
      <div class="content">
        <a routerLink="/products/sach-slug" class="title">Title name 1</a>
        <div class="category">
          <span>Category 1</span>
          <span>Category 2</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsa,
          quaerat impedit aspernatur, eius ex fugit aliquam voluptatum corporis
          reiciendis qui libero? Enim cupiditate ratione tempore, labore
          molestias minus asperiores.
        </div>
        <div class="author">Chuong Kieu</div>
        <div class="footer">
          <button>Add to cart</button>
          <div class="price">
            <div class="price-new">$80</div>
            <div class="price-old">$90</div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
