<h2 *ngIf="title" class="book-list-title">{{ title }}</h2>
<div class="book-list" [style.--column]="col">
  <div class="book-list-item" *ngFor="let book of books">
    <a
      routerLink="/products/{{ book.nameAscii }}"
      class="book-list-item--image"
    >
      <img src="{{ book.image }}" alt="{{ book.name }}" />
    </a>
    <div class="book-list-item--content">
      <a
        routerLink="/products/{{ book.nameAscii }}"
        class="book-list-item-content-title"
      >
        {{ book.name }}
      </a>
      <div class="book-list-item-content-category">
        <ng-container *ngFor="let category of book.category">
          <a
            *ngIf="category.status"
            routerLink="/categories/{{ category.nameAscii }}"
          >
            {{ category.name }}
          </a>
        </ng-container>
      </div>
      <div class="book-list-item-content-button" *ngIf="book.status">
        <button (click)="addCart(book)">Thêm vào giỏ hàng</button>
      </div>
      <div class="book-list-item-content-button" *ngIf="!book.status">
        <button disabled>Ngừng bán</button>
      </div>
    </div>
  </div>
</div>
