.c-header {
  &--actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
    &__link {
      height: 45px;
      display: flex;
      padding: 0 15px;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;
      text-decoration: none;
      border-radius: 10px;
      cursor: pointer;
      min-width: 120px;
      font-weight: 600;
      transition: background-color 250ms linear;

      &.image {
        min-width: auto;
        padding: 0;
        overflow: hidden;
        width: 45px;
        border: 1px solid #dddddd;
        background-color: #eeeeee;

        & img {
          width: 100%;
          height: 100%;
          vertical-align: middle;
          border: 0;
        }
      }

      &.default {
        min-width: auto;
        line-height: 1.6;
        padding: 0 20px;
        background-color: transparent;
        color: #212121;
        border: 1px solid #dddddd;

        &:hover {
          background-color: #f0f0f0;
        }
      }

      &.dark-indigo {
        background-color: #242f9b;
        color: #ffffff;

        &:hover {
          background-color: rgb(59, 74, 177);
          color: #ffffff;
        }
      }

      &.light-indigo {
        background-color: #dbdffd;
        color: #212121;

        &:hover {
          background-color: #cbd0fd;
        }
      }
    }
  }
}
