<div class="c-header--actions" *ngIf="!currentUser; else logger">
  <div class="c-header--actions">
    <a routerLink="/register" class="c-header--actions__link light-indigo">
      Đăng ký
    </a>
    <a routerLink="/login" class="c-header--actions__link dark-indigo">
      Đăng nhập
    </a>
  </div>
</div>
<ng-template #logger>
  <div class="c-header--actions">
    <nz-badge [nzCount]="5" [nzOverflowCount]="9">
      <a routerLink="/shopping-cart" class="c-header--actions__link default">
        Giỏ hàng
      </a>
    </nz-badge>
    <div>
      <button
        class="c-header--actions__link image"
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
      >
        <img src="/assets/images/avatar-default.jpg" alt="" />
      </button>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>{{ currentUser?.name }}</li>
          <li nz-menu-item *ngIf="currentUser?.isAdmin">
            <a routerLink="/manager" style="color: #212121"> Trang quản trị </a>
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="logout()">Đăng xuất</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</ng-template>
