<div class="c-header">
  <div class="c-header--wrapper">
    <div class="container">
      <a routerLink="/" class="c-header--logo">
        <img
          alt="bookstore"
          src="/assets/images/bookstore.png"
          class="c-header--logo__image"
        />
      </a>
      <div class="c-header--search">
        <form
          #search="ngForm"
          (ngSubmit)="onSearch(search)"
          class="c-header--search__form"
        >
          <input
            type="text"
            name="keyword"
            ngModel
            required
            placeholder="Nhập tên sách cần tìm kiếm..."
          />
          <button>
            <i nz-icon nzType="search" nzTheme="outline"></i>
          </button>
        </form>
      </div>
      <app-actions
        [currentUser]="currentUser"
        (logout)="logout()"
        [cartTotal]="cartTotal"
      ></app-actions>
    </div>
  </div>
</div>

<app-categories [categories]="categories"></app-categories>
